<div class="kt-card pb-2.5">
    <div class="kt-card-header" id="change_password">
        <h3 class="kt-card-title">
            Password
        </h3>
    </div>
    <div class="kt-card-content grid gap-5">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
            <div class="w-full">
                <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                    <label class="kt-form-label flex items-center gap-1 max-w-56">
                        Current Password
                    </label>
                    <div class="relative w-full md:max-w-sm" data-kt-toggle-password="true">
                        <input class="kt-input w-full pr-10" name="user_current_password"
                            placeholder="Enter your current password" type="password" value="" />
                        <button type="button"
                            class="absolute right-2  top-1/2 -translate-y-1/2 kt-btn kt-btn-sm kt-btn-ghost kt-btn-icon"
                            data-kt-toggle-password-trigger="true">
                            <span class="kt-toggle-password-active:hidden">
                                <i class="ki-filled ki-eye text-muted-foreground"></i>
                            </span>
                            <span class="hidden kt-toggle-password-active:block">
                                <i class="ki-filled ki-eye-slash text-muted-foreground"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                    <label class="kt-form-label flex items-center gap-1 max-w-56">
                        New Password
                    </label>
                    <div class="relative w-full md:max-w-sm" data-kt-toggle-password="true">
                        <input class="kt-input w-full pr-10" name="user_new_password" placeholder="Enter a new password"
                            type="password" value="" />
                        <button type="button"
                            class="absolute right-2 top-1/2 -translate-y-1/2 kt-btn kt-btn-sm kt-btn-ghost kt-btn-icon"
                            data-kt-toggle-password-trigger="true">
                            <span class="kt-toggle-password-active:hidden">
                                <i class="ki-filled ki-eye text-muted-foreground"></i>
                            </span>
                            <span class="hidden kt-toggle-password-active:block">
                                <i class="ki-filled ki-eye-slash text-muted-foreground"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                    <label class="kt-form-label flex items-center gap-1 max-w-56">
                        Confirm New Password
                    </label>
                    <div class="relative w-full md:max-w-sm" data-kt-toggle-password="true">
                        <input class="kt-input w-full pr-10" name="user_confirm_password"
                            placeholder="Confirm new password" type="password" value="" />
                        <button type="button"
                            class="absolute right-2 top-1/2 -translate-y-1/2 kt-btn kt-btn-sm kt-btn-ghost kt-btn-icon"
                            data-kt-toggle-password-trigger="true">
                            <span class="kt-toggle-password-active:hidden">
                                <i class="ki-filled ki-eye text-muted-foreground"></i>
                            </span>
                            <span class="hidden kt-toggle-password-active:block">
                                <i class="ki-filled ki-eye-slash text-muted-foreground"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-end pt-2.5">
            <button class="kt-btn kt-btn-primary">
                Reset Password
            </button>
        </div>
    </div>
</div>