<div>
    <div class="kt-card h-full">
        <div class="kt-card-content lg:p-7.5 lg:pt-6 p-5">
            <div class="flex items-center justify-between flex-wrap gap-5 mb-7.5">
                <div class="flex flex-col gap-1">
                    <span class="text-xl font-semibold text-mono">
                        Team Meeting
                    </span>
                    <span class="text-sm font-semibold text-foreground">
                        09:00 - 09:30
                    </span>
                </div>
                <img alt="" class="size-7" src="/assets/media/brand-logos/zoom.svg" />
            </div>
            <p class="text-sm font-normal text-foreground leading-5.5 mb-8">
                Team meeting to discuss strategies, outline
                <br />
                project milestones, define key goals, and
                <br />
                establish clear timelines.
            </p>
            <div class="flex rounded-lg bg-accent/50 gap-10 p-5">
                <div class="flex flex-col gap-5">
                    <div class="flex items-center gap-1.5 text-sm font-normal text-foreground">
                        <i class="ki-filled ki-geolocation text-base text-muted-foreground">
                        </i>
                        Location
                    </div>
                    <div class="text-sm font-medium text-foreground pt-1.5">
                        Amsterdam
                    </div>
                </div>
                <div class="flex flex-col gap-5">
                    <div class="flex items-center gap-1.5 text-sm font-normal text-foreground">
                        <i class="ki-filled ki-users text-base text-muted-foreground">
                        </i>
                        Team
                    </div>
                    <div class="flex -space-x-2">
                        <div class="flex">
                            <img class="hover:z-5 relative shrink-0 rounded-full ring-1 ring-background size-[30px]"
                                src="/assets/media/avatars/300-4.png" />
                        </div>
                        <div class="flex">
                            <img class="hover:z-5 relative shrink-0 rounded-full ring-1 ring-background size-[30px]"
                                src="/assets/media/avatars/300-1.png" />
                        </div>
                        <div class="flex">
                            <img class="hover:z-5 relative shrink-0 rounded-full ring-1 ring-background size-[30px]"
                                src="/assets/media/avatars/300-2.png" />
                        </div>
                        <div class="flex">
                            <span
                                class="hover:z-5 relative inline-flex items-center justify-center shrink-0 rounded-full ring-1 font-semibold leading-none text-2xs size-[30px] text-white text-xs ring-background bg-green-500">
                                +10
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-card-footer justify-center">
            <a class="kt-link kt-link-underlined kt-link-dashed" href="">
                Join Meeting
            </a>
        </div>
    </div>
</div>