// Main Login Component Specific Styles
// Base auth layout styles are handled by auth-layout.scss

// Component-specific customizations can go here
// The universal auth layout rules will automatically apply

.branded-bg {
    background-image: url("/assets/media/images/2600x1600/1.png");
}

.dark .branded-bg {
    background-image: url("/assets/media/images/2600x1600/1-dark.png");
}
.branded-bg-otp{
    background-image: url("/assets/media/images/2600x1600/2.png");
}