<div class="kt-card pb-2.5">
    <div class="kt-card-header" id="website_links">
        <h3 class="kt-card-title">
            Website Links
        </h3>
    </div>
    <div class="kt-card-content grid gap-5">
        <div class="w-full">
            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="kt-form-label flex items-center gap-1 max-w-56">
                    Retail Signup URL
                </label>
                <label class="kt-input">
                    <input type="text" value="https://app.fosterx.co/retail/signup/99b576f4-abbd-45dd-b0a3-466ca585b8c3"
                        disabled />
                    <button class="kt-btn kt-btn-icon kt-btn-sm kt-btn-ghost -me-2">
                        <i class="ki-filled ki-copy">
                        </i>
                    </button>
                </label>
            </div>
        </div>
        <div class="w-full">
            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="kt-form-label flex items-center gap-1 max-w-56">
                    Retail login URL
                </label>
                <label class="kt-input">
                    <input type="text" value="https://app.fosterx.co/retail/login/99b576f4-abbd-45dd-b0a3-466ca585b8c3"
                        disabled />
                    <button class="kt-btn kt-btn-icon kt-btn-sm kt-btn-ghost -me-2">
                        <i class="ki-filled ki-copy">
                        </i>
                    </button>
                </label>
            </div>
        </div>
        <div class="w-full">
            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="kt-form-label flex items-center gap-1 max-w-56">
                    Employee login URL
                </label>
                <label class="kt-input">
                    <input type="text"
                        value="https://app.fosterx.co/employee/login/99b576f4-abbd-45dd-b0a3-466ca585b8c3" disabled />
                    <button class="kt-btn kt-btn-icon kt-btn-sm kt-btn-ghost -me-2">
                        <i class="ki-filled ki-copy">
                        </i>
                    </button>
                </label>
            </div>
        </div>

    </div>
</div>