<div class="kt-container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-mono">
                Client List
            </h1>
            <div class="flex items-center gap-2 text-sm font-normal text-secondary-foreground">
                Manage and organize Clients
            </div>
        </div>
        <div class="flex items-center gap-2.5">
            <a class="kt-btn kt-btn-outline" href="#">
                Import CSV
            </a>
            <a class="kt-btn kt-btn-primary" routerLink="/agency/agency-clients/add-client">
                Add Client
            </a>
        </div>
    </div>
</div>
<!-- End of Container -->
<!-- Container -->
<div class="kt-container-fixed">
    <div class="grid gap-5 lg:gap-7.5">
        <div class="kt-card kt-card-grid min-w-full">
            <div class="kt-card-header flex-wrap gap-2">
                <h3 class="kt-card-title text-sm">
                    Showing {{ clients.length }} clients
                </h3>
                <div class="flex flex-wrap gap-2 lg:gap-5">
                    <div class="flex">
                        <label class="kt-input">
                            <i class="ki-filled ki-magnifier">
                            </i>
                            <input placeholder="Search clients" type="text" value="" />
                        </label>
                    </div>
                    <div class="flex flex-wrap gap-2.5">

                        <button class="kt-btn kt-btn-outline kt-btn-primary">
                            <i class="ki-filled ki-setting-4">
                            </i>
                            Filters
                        </button>
                    </div>
                </div>
            </div>
            <div class="kt-card-content">
                <div *ngIf="loading" class="text-center py-5">
                    Loading clients...
                </div>
                <div *ngIf="!loading" class="grid" data-kt-datatable="true" data-kt-datatable-page-size="10">
                    <div class="kt-scrollable-x-auto">
                        <table class="kt-table table-auto kt-table-border" data-kt-datatable-table="true">
                            <thead>
                                <tr>
                                    <th class="w-[60px] text-center">
                                        <span class="kt-table-col">
                                            #
                                        </span>
                                    </th>
                                    <th class="min-w-[200px]">
                                        <span class="kt-table-col">
                                            Name
                                        </span>
                                    </th>
                                    <th class="min-w-[165px]">
                                        Email
                                    </th>
                                    <th class="min-w-[100px]">
                                        Business Name
                                    </th>
                                    <th class="min-w-[100px]">
                                        Contact Number
                                    </th>
                                    <th class="w-[60px]">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let client of clients; let i = index">
                                    <td class="text-center">
                                        {{ i + 1 }}
                                    </td>
                                    <td>
                                        <div class="flex items-center gap-2.5">
                                            <div class="flex flex-col gap-0.5">
                                                <a class="text-sm font-medium text-mono hover:text-primary">
                                                    {{ client.clientfirstName }} {{ client.clientLastName }}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="font-normal text-foreground">
                                        {{ client.email }}
                                    </td>
                                    <td>
                                        {{ client.businessName }}
                                    </td>

                                    <td>
                                        {{ client.contact }}
                                    </td>
                                    <td>
                                        <div class="flex items-center gap-2">
                                            <button type="button" class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost"
                                                (click)="editClient(client)">
                                                <i class="ki-filled ki-pencil"></i>
                                            </button>
                                            <button class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                                <i class="ki-filled ki-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>