<div class="kt-card pb-2.5">
    <div class="kt-card-header" id="integrations">
        <h3 class="kt-card-title">
            Integrations
        </h3>
    </div>
    <!-- End of Container -->
    <!-- Container -->
    <div class="kt-card-content grid gap-5">
        <div class="grid gap-5 lg:gap-7.5">
            <!-- begin: cards -->
            <div id="integrations_cards">
                <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 lg:gap-7.5">
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0" src="/assets/media/brand-logos/instagram-2.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Instagram
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    A platform to showcase creativity through photos, reels, and stories.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input checked="" class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0" src="/assets/media/brand-logos/facebook.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Facebook
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Ensures healthcare app compatibility with FHIR standards.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0" src="assets/media/brand-logos/tiktok.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Tiktok
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    DevOps platform for code control, project management, CI/CD.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input checked="" class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0" src="/assets/media/brand-logos/x.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    X
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Tools for building quality web experiences, focusing on performance.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input checked="" class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0" src="/assets/media/brand-logos/linkedin-2.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Linkedin
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Interactive exercises for fun, effective language learning.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0"
                                        src="/assets/media/brand-logos/google-drive.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Google Drive
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Organizes personal and professional documents, ideas, tasks.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input checked="" class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-9 shrink-0" src="/assets/media/brand-logos/Icloud.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Icloud
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Interactive exercises for fun, effective language learning.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0"
                                        src="/assets/media/brand-logos/google-my-business.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Google My Business
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Digital design platform for prototyping and design workflow.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0" src="/assets/media/brand-logos/dribbble.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Dribble
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Digital design platform for prototyping and design workflow.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>

                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0"
                                        src="assets/media/brand-logos/google-analytics-2.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Google Analytics
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Insights into website traffic and marketing effectiveness.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0" src="assets/media/brand-logos/youtube.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Youtube </a>
                                <span class="text-sm text-secondary-foreground">
                                    Insights into website traffic and marketing effectiveness.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0" src="/assets/media/brand-logos/Pinterest.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Pinterest
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Interactive exercises for fun, effective language learning.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0" src="/assets/media/brand-logos/snapchat.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Snapchat
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Interactive exercises for fun, effective language learning.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-11 shrink-0" src="/assets/media/brand-logos/whatsapp.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Whatsapp
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Interactive exercises for fun, effective language learning.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-card">
                        <div class="kt-card-content p-5 lg:p-7.5">
                            <div class="flex items-center justify-between mb-3 lg:mb-5">
                                <div class="flex items-center justify-center">
                                    <img alt="" class="h-9 shrink-0" src="/assets/media/brand-logos/onedrive.svg" />
                                </div>
                                <div class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                    <i class="ki-filled ki-exit-right-corner">
                                    </i>
                                </div>
                            </div>
                            <div class="flex flex-col gap-1 lg:gap-2.5">
                                <a class="text-base font-smedium text-mono hover:text-primary">
                                    Onedrive
                                </a>
                                <span class="text-sm text-secondary-foreground">
                                    Interactive exercises for fun, effective language learning.
                                </span>
                            </div>
                        </div>
                        <div class="kt-card-footer justify-between items-center py-3.5">
                            <a class="kt-btn kt-btn-outline">
                                <i class="ki-filled ki-mouse-square">
                                </i>
                                Connect
                            </a>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-switch" name="param" type="checkbox" value="1" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>