@if(!isOtpPage){
<div class="grid lg:grid-cols-2 grow min-h-[95vh]">
    <div class="flex justify-center items-center p-8 lg:p-10 order-2 lg:order-1">
        <div class="kt-card max-w-[370px] w-full">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="kt-card-content flex flex-col gap-5 p-10">

                <div class="text-center mb-2.5">
                    <h3 class="text-lg font-medium text-mono leading-none mb-2.5">
                        Sign up
                    </h3>
                    <div class="flex items-center justify-center">
                        <span class="text-sm text-secondary-foreground me-1.5">
                            Already have an Account ?
                        </span>
                        <a class="text-sm kt-link" routerLink="/auth/login">
                            Sign In
                        </a>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-2.5">
                    <a class="kt-btn kt-btn-outline justify-center" href="#">
                        <img alt="" class="size-3.5 shrink-0" src="assets/media/brand-logos/google.svg" />
                        Use Google
                    </a>
                    <a class="kt-btn kt-btn-outline justify-center" href="#">
                        <img alt="" class="size-3.5 shrink-0 dark:hidden"
                            src="assets/media/brand-logos/apple-black.svg" />
                        <img alt="" class="size-3.5 shrink-0 light:hidden"
                            src="assets/media/brand-logos/apple-white.svg" />
                        Use Apple
                    </a>
                </div>

                <div class="flex items-center gap-2">
                    <span class="border-t border-border w-full">
                    </span>
                    <span class="text-xs text-secondary-foreground uppercase">
                        or
                    </span>
                    <span class="border-t border-border w-full">
                    </span>
                </div>
                <div class="flex gap-2.5">
                    <div class="flex flex-col gap-1">
                        <label class="kt-form-label font-normal text-mono">First Name<span class="text-red-500"> *
                            </span></label>
                        <input class="kt-input" type="text" placeholder="First Name" name="firstName"
                            formControlName="firstName"
                            [class.kt-input-error]="f['firstName'].invalid && (f['firstName'].touched || submitted)"
                            [class.border-red-500]="f['firstName'].invalid && (f['firstName'].touched || submitted)" />

                        @if (f['firstName'].invalid && (f['firstName'].touched || submitted)) {
                        <div class="kt-form-message">
                            @if (f['firstName'].errors?.['required']) {
                            First Name is required
                            }
                            @if (f['firstName'].errors?.['pattern']) {
                            Enter valid First name
                            }
                        </div>
                        }
                    </div>

                    <div class="flex flex-col gap-1">
                        <label class="kt-form-label font-normal text-mono">Last Name<span class="text-red-500"> *
                            </span></label>
                        <input class="kt-input" type="text" placeholder="Last Name" name="lastName"
                            formControlName="lastName"
                            [class.kt-input-error]="f['lastName'].invalid && (f['lastName'].touched || submitted)"
                            [class.border-red-500]="f['lastName'].invalid && (f['lastName'].touched || submitted)" />

                        @if (f['lastName'].invalid && (f['lastName'].touched || submitted)) {
                        <div class="kt-form-message">
                            @if (f['lastName'].errors?.['required']) {
                            Last Name is required
                            }
                            @if (f['lastName'].errors?.['pattern']) {
                            Enter valid last name
                            }
                        </div>
                        }
                    </div>
                </div>
                <div class="flex flex-col gap-1">
                    <label class="kt-form-label text-mono">
                        Email
                        <span class="text-red-500"> * </span></label>
                    <input class="kt-input" name="email" placeholder="email@email.com" type="text" value=""
                        formControlName="email"
                        [class.kt-input-error]="f['email'].invalid && (f['email'].touched || submitted)"
                        [class.border-red-500]="f['email'].invalid && (f['email'].touched || submitted)" />

                    @if (f['email'].invalid && (f['email'].touched || submitted)) {
                    <div class="kt-form-message">
                        @if (f['email'].errors?.['required']) {
                        Email is required
                        }
                        @if (f['email'].errors?.['email']) {
                        Please enter a valid email address
                        }
                    </div>
                    }
                </div>

                <div class="flex flex-col gap-1">
                    <label class="kt-form-label font-normal text-mono">Contact Number<span class="text-red-500"> *
                        </span></label>
                    <div class="grid grid-cols-3 gap-2.5">
                        <div>
                            <select class="kt-select" data-kt-select="true" data-kt-select-enable-search="true"
                                name="countryCode" [attr.data-kt-select-config]="ktConfig" #countrySelect
                                formControlName="countryCode">
                                @for (countryCode of countryCodes; track countryCode.id) {
                                <option [value]="countryCode.code+ ' - ' + countryCode.country"
                                    [attr.data-kt-select-option]="getSelectOption(countryCode.country, countryCode.code)">
                                    {{ countryCode.code}}
                                </option>

                                }
                            </select>
                        </div>
                        <div class="col-span-2">
                            <input class="kt-input" name="contact" type="tel" placeholder="Contact No"
                                formControlName="contact"
                                [class.kt-input-error]="f['contact'].invalid && (f['contact'].touched || submitted)"
                                [class.border-red-500]="f['contact'].invalid && (f['contact'].touched || submitted)" />

                            @if (f['contact'].invalid && (f['contact'].touched || submitted)) {
                            <div class="kt-form-message">
                                @if (f['contact'].errors?.['required']) {
                                Contact No is required
                                }
                                @if (f['contact'].errors?.['pattern']) {
                                enter valid Contact No
                                }
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- <div class="flex flex-col gap-1">
                    <label class="kt-form-label font-normal text-mono">User Type<span class="text-red-500"> * </span></label>
                    <select class="kt-select-display kt-select" name="userType">
                        <option class="kt-select-options " value="Organization">Organization</option>
                        <option class="kt-select-options " value="Freelancer">Freelancer</option>
                    </select>
                </div> -->

                <label class="kt-checkbox-group">
                    <input class="kt-checkbox kt-checkbox-sm" name="check" type="checkbox"
                        formControlName="acceptTaC" />
                    <span class="kt-checkbox-label text-3sm">
                        I accept <a routerLink="" class="text-3sm kt-checkbox-label kt-link">Terms & Conditions</a>
                    </span></label>

                <button class="kt-btn kt-btn-primary flex justify-center grow"
                    [disabled]="signupForm.invalid || !(this.signupForm.get('acceptTaC')?.value)">
                    @if (isLoading) {
                    <span>Loading...</span>
                    } @else {
                    <span>Sign Up</span>
                    }
                </button>
            </form>

        </div>
    </div>
    <div
        class="lg:rounded-xl lg:border lg:border-border lg:m-5 order-1 lg:order-2 bg-top xxl:bg-center xl:bg-cover bg-no-repeat branded-bg">
        <div class="flex flex-col justify-between h-full p-8 lg:p-16">
            <div class="flex flex-col gap-4">
                <a href="/auth/login">
                    <img class="h-[28px] max-w-none" src="/assets/media/app/mini-logo.svg" />
                </a>
                <div class="flex flex-col gap-3">
                    <h3 class="text-2xl font-semibold text-mono">
                        Secure Access Portal
                    </h3>
                    <div class="text-base font-medium text-secondary-foreground">
                        A robust authentication gateway ensuring
                        <br />
                        secure
                        <span class="text-mono font-semibold">
                            efficient user access
                        </span>
                        to the Metronic
                        <br />
                        Dashboard interface.
                    </div>
                </div>
            </div>
            <div class="flex-1"></div>
        </div>
    </div>
</div>
}
@else if(isOtpPage){
<div class="grid lg:grid-cols-2 grow min-h-[95vh]">
    <div class="flex justify-center items-center p-8 lg:p-10 order-2 lg:order-1">
        <div class="kt-card max-w-[380px] w-full" id="2fa_form">
            <form class="kt-card-content flex flex-col gap-5 p-10">
                <img alt="image" class="dark:hidden h-20 mb-2" src="/assets/media/illustrations/34.svg" />
                <img alt="image" class="light:hidden h-20 mb-2" src="/assets/media/illustrations/34-dark.svg" />
                <div class="text-center mb-2">
                    <h3 class="text-lg font-medium text-mono mb-5">
                        Verify your Email
                    </h3>
                    <div class="flex flex-col">
                        <span class="text-sm text-secondary-foreground mb-1.5">
                            Enter the verification code we sent to
                        </span>
                        <span class="text-sm font-medium text-mono">
                            {{ signupForm.get('email')?.value }}
                        </span>
                    </div>
                </div>

                <div class="flex flex-wrap justify-center gap-2.5" style="flex-wrap: nowrap !important;">
                    @for (i of [0,1,2,3,4,5]; track i) {
                    <input
                        class="kt-input focus:border-primary/10 focus:ring-3 focus:ring-primary/10 size-10 shrink-0 px-0 text-center"
                        style="width: 40px !important;" maxlength="1" type="text" name="code_{{ i }}"
                        (keydown)="onOtpKeyDown($event, i)" (input)="onOtpInput($event, i)" />
                    }
                </div>

                <div class="flex items-center justify-center">
                    <span class="text-2sm text-secondary-foreground me-1.5">
                        Didn’t receive a code? @if(resendTimer != 0){({{resendTimer}}s)}
                    </span>
                    @if(resendTimer == 0){
                    <a class="text-2sm kt-link" (click)="resendOtp()">
                        Resend
                    </a>
                    }
                </div>

                @if(errorMessage){
                <div class="flex items-center justify-center">
                    <div class="kt-form-message">{{errorMessage}}</div>
                </div>
                }
                @if(!isLoading){
                <button (click)="submitOtp()" [disabled]="!isOtpComplete()"
                    class="kt-btn kt-btn-primary flex justify-center grow">
                    Verify
                </button>}
                @else if(isLoading){
                <button (click)="submitOtp()" [disabled]="true" class="kt-btn kt-btn-primary flex justify-center grow">
                    Verifing...
                </button>
                }

                <div class="flex items-center justify-center mb-2">
                    <span class="text-2sm kt-link" (click)="wrongInfoEnter()">
                        Change Email
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div
        class="lg:rounded-xl lg:border lg:border-border lg:m-5 order-1 lg:order-2 bg-top xxl:bg-center xl:bg-cover bg-no-repeat branded-bg branded-bg-otp">
        <div class="flex flex-col p-8 lg:p-16 gap-4">
            <a href="/">
                <img class="h-[28px] max-w-none" src="assets/media/app/mini-logo.svg" />
            </a>
            <div class="flex flex-col gap-3">
                <h3 class="text-2xl font-semibold text-mono">
                    Verify Your Email
                </h3>
                <div class="text-base font-medium text-secondary-foreground">
                    A robust authentication gateway ensuring
                    <br />
                    secure
                    <span class="text-mono font-semibold">
                        efficient user access
                    </span>
                    to the Metronic
                    <br />
                    Dashboard interface.
                </div>
            </div>
        </div>
    </div>
</div>
}