<div class="kt-container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-mono">
                Agency Category
            </h1>
            <div class="flex items-center gap-2 text-sm font-normal text-secondary-foreground">
                Manage and organize agency categories
            </div>
        </div>
        <div class="flex items-center gap-2.5">
            <!-- <a class="kt-btn kt-btn-outline">
                Import CSV
            </a> -->
            <a class="kt-btn kt-btn-primary" (click)="openAddCategoryModal()">
                Add Category
            </a>
        </div>
    </div>
</div>
<!-- End of Container -->
<!-- Container -->
<div class="kt-container-fixed">
    <div class="grid gap-5 lg:gap-7.5">
        <div class="kt-card kt-card-grid min-w-full">
            <div class="kt-card-header flex-wrap gap-2">
                <h3 class="kt-card-title text-sm">
                    Showing {{ paginateData.length }} of {{ collectionSize }} categories
                </h3>
                <div class="flex flex-wrap gap-2 lg:gap-5">
                    <div class="flex">
                        <label class="kt-input">
                            <i class="ki-filled ki-magnifier">
                            </i>
                            <input placeholder="Search categories" type="text" [(ngModel)]="searchTerm"
                                (input)="onSearch($event)" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="kt-card-content">
                <div class="grid">
                    <div class="kt-scrollable-x-auto">
                        <table class="kt-table table-auto kt-table-border">
                            <thead>
                                <tr>
                                    <th class="w-[60px] text-center">
                                        <input class="kt-checkbox kt-checkbox-sm" type="checkbox" />
                                    </th>
                                    <th class="min-w-[60px] cursor-pointer" (click)="sortData('index')">
                                        <span class="kt-table-col">
                                            <span class="kt-table-col-label">
                                                Sr No.
                                            </span>
                                            <span class="kt-table-col-sort">
                                                <i class="ki-filled"
                                                    [ngClass]="sortColumn === 'index' ? (sortDirection === 'asc' ? 'ki-up' : 'ki-down') : 'ki-sort'"></i>
                                            </span>
                                        </span>
                                    </th>
                                    <th class="min-w-[200px] cursor-pointer" (click)="sortData('name')">
                                        <span class="kt-table-col">
                                            <span class="kt-table-col-label">
                                                Category Name
                                            </span>
                                            <span class="kt-table-col-sort">
                                                <i class="ki-filled"
                                                    [ngClass]="sortColumn === 'name' ? (sortDirection === 'asc' ? 'ki-up' : 'ki-down') : 'ki-sort'"></i>
                                            </span>
                                        </span>
                                    </th>
                                    <th class="min-w-[165px] cursor-pointer" (click)="sortData('icon')">
                                        <span class="kt-table-col">
                                            <span class="kt-table-col-label">
                                                Icon Name
                                            </span>
                                            <span class="kt-table-col-sort">
                                                <i class="ki-filled"
                                                    [ngClass]="sortColumn === 'icon' ? (sortDirection === 'asc' ? 'ki-up' : 'ki-down') : 'ki-sort'"></i>
                                            </span>
                                        </span>
                                    </th>
                                    <th class="min-w-[100px] cursor-pointer" (click)="sortData('isActive')">
                                        <span class="kt-table-col">
                                            <span class="kt-table-col-label">
                                                Status
                                            </span>
                                            <span class="kt-table-col-sort">
                                                <i class="ki-filled"
                                                    [ngClass]="sortColumn === 'isActive' ? (sortDirection === 'asc' ? 'ki-up' : 'ki-down') : 'ki-sort'"></i>
                                            </span>
                                        </span>
                                    </th>
                                    <th class="w-[60px]">
                                        <span class="kt-table-col-label">
                                            Action
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (category of paginateData; track category.id) {
                                <tr>
                                    <td class="text-center">
                                        <input class="kt-checkbox kt-checkbox-sm" type="checkbox" />
                                    </td>
                                    <td>
                                        <a class="text-sm font-medium text-mono hover:text-primary">
                                            {{ category.index }}
                                        </a>
                                    </td>
                                    <td>
                                        <div class="flex items-center gap-2.5">
                                            @if(category.icon) {
                                            <i class="ki-filled" [ngClass]="'ki-' + category.icon"></i>
                                            }
                                            <a class="text-sm font-medium text-mono hover:text-primary">
                                                {{ category.name }}
                                            </a>
                                        </div>
                                    </td>
                                    <td class="font-normal text-foreground">
                                        {{ category.icon || 'No Icon' }}
                                    </td>
                                    <td>
                                        <input class="kt-switch kt-switch-sm" name="check" type="checkbox"
                                            [checked]="category.isActive === 1"
                                            (change)="toggleCategoryStatus(category.id, category.isActive)" />
                                    </td>
                                    <td>
                                        <div class="kt-menu" data-kt-menu="true">
                                            <div class="kt-menu-item" data-kt-menu-item-offset="0, 10px"
                                                data-kt-menu-item-placement="bottom-end"
                                                data-kt-menu-item-placement-rtl="bottom-start"
                                                data-kt-menu-item-toggle="dropdown" data-kt-menu-item-trigger="click">
                                                <button
                                                    class="kt-menu-toggle kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost">
                                                    <i class="ki-filled ki-dots-vertical text-lg">
                                                    </i>
                                                </button>
                                                <div class="kt-menu-dropdown kt-menu-default w-full max-w-[175px]"
                                                    data-kt-menu-dismiss="true">
                                                    <div class="kt-menu-item">
                                                        <a class="kt-menu-link" (click)="editCategory(category)">
                                                            <span class="kt-menu-icon">
                                                                <i class="ki-filled ki-pencil">
                                                                </i>
                                                            </span>
                                                            <span class="kt-menu-title">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="kt-menu-item">
                                                        <a class="kt-menu-link" (click)="removeCategoryId(category.id)">
                                                            <span class="kt-menu-icon">
                                                                <i class="ki-filled ki-trash">
                                                                </i>
                                                            </span>
                                                            <span class="kt-menu-title">
                                                                Remove
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div
                        class="kt-card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-secondary-foreground text-sm font-medium">
                        <div class="flex items-center gap-2 order-2 md:order-1">
                            Show
                            <select class="kt-select w-16" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()" [ngModelOptions]="{standalone: true}">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="75">75</option>
                                <option [ngValue]="100">100</option>
                            </select>
                            per page
                        </div>
                        <div class="flex items-center gap-4 order-1 md:order-2">
                            <span>
                                Showing {{ (page - 1) * pageSize + 1 }} to {{ page * pageSize > collectionSize ?
                                collectionSize : page * pageSize }} of {{ collectionSize }}
                            </span>
                            <div class="flex gap-2">
                                <button class="kt-btn kt-btn-sm kt-btn-icon kt-btn-outline" [disabled]="page === 1"
                                    (click)="onPageChange(page - 1)">
                                    <i class="ki-filled ki-left"></i>
                                </button>
                                <span class="flex items-center px-2">{{ page }}</span>
                                <button class="kt-btn kt-btn-sm kt-btn-icon kt-btn-outline"
                                    [disabled]="page * pageSize >= collectionSize" (click)="onPageChange(page + 1)">
                                    <i class="ki-filled ki-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kt-modal" data-kt-modal="true" id="category_modal">
    <div class="kt-modal-content max-w-[500px] top-5 lg:top-[15%]">
        <div class="kt-modal-header">
            <h3 class="kt-modal-title">
                Category Settings
            </h3>
            <button class="kt-btn kt-btn-sm kt-btn-icon kt-btn-ghost shrink-0" data-kt-modal-dismiss="true">
                <i class="ki-filled ki-cross">
                </i>
            </button>
        </div>
        <form [formGroup]="addCategoryForm">

            <div class="kt-modal-body grid gap-5 px-0 py-5">
                <div class="flex flex-col px-5 gap-2.5">
                    <div class="flex flex-center gap-1">
                        <label class="text-mono font-semibold text-sm">
                            Category Details
                        </label>
                    </div>
                    <input class="kt-input" type="text" placeholder="Enter Category Details" formControlName="name"
                        [class.kt-input-error]="f['name'].invalid && (f['name'].touched) || submitted"
                        [class.border-red-500]="f['name'].invalid && (f['name'].touched) || submitted" />
                    @if (f['name'].invalid && (f['name'].touched || submitted)) {
                    <div class="text-red-500 text-sm">
                        Category Name is required
                    </div>
                    }
                </div>
                <div class="flex flex-col px-5 gap-2.5">
                    <div class="flex flex-center gap-1">
                        <label class="text-mono font-semibold text-sm">
                            Icon Name
                        </label>
                        <i class="ki-filled ki-information-2 text-muted-foreground text-sm"
                            data-kt-tooltip="#popover_content" data-kt-tooltip-trigger="click"
                            data-kt-tooltip-placement="bottom-start">
                        </i>
                    </div>
                    <div id="popover_content" class="kt-popover max-w-56">
                        <div class="kt-popover-header">Icon Selection Guide</div>
                        <div class="kt-popover-content text-justify">
                            Visit <a href="https://keenthemes.com/keenicons" target="_blank"
                                class="kt-link">keenthemes.com/keenicons</a>, browse the available icons, click preview,
                            copy the icon name, and paste it in the field below.
                        </div>
                    </div>
                    <input class="kt-input" type="text" placeholder="Paste Your Icon Name Here" formControlName="icon"
                        [class.kt-input-error]="f['icon'].invalid && (f['icon'].touched) || submitted"
                        [class.border-red-500]="f['icon'].invalid && (f['icon'].touched) || submitted" />
                    @if (f['icon'].invalid && (f['icon'].touched || submitted)) {
                    <div class="text-red-500 text-sm">
                        Icon Name is required
                    </div>
                    }
                </div>
                <div class="flex flex-col px-5 gap-4">
                    <div class="flex justify-end">
                        <button class="kt-btn kt-btn-destructive kt-btn-outline mr-3" data-kt-modal-dismiss="true">
                            Cancel
                        </button>
                        <button class="kt-btn kt-btn-primary" type="submit" [disabled]="addCategoryForm.invalid"
                            (click)="submitCategory()" *ngIf="!isUpdateMode">
                            Save
                        </button>
                        <button class="kt-btn kt-btn-primary" type="submit" [disabled]="addCategoryForm.invalid"
                            (click)="updateCategoryDetails()" *ngIf="isUpdateMode">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>